/* Styles */
html {background-color: #008900; color: white; font-family: sans-serif;}
a {color: aqua; text-decoration: none;}
.secondary a {color: #008900;}
.secondary {background-color: black; color: white;}
#sidebar-main>a, #sidebar-main>header {display: block;}
#sidebar-main>.new::before {color: yellow; content: "New ";}
#copyright {font-size: 9px; margin-top: 1em;}
#sidebar hr {border: none; height: 1em; padding: 0px; margin: 0px;}
.title, .title>a {margin: 0px; padding: 0px; color: white;}

html {width: 100%; height: 100%; margin: 0pt;}
body {width: 100%; min-height: 100%; margin: 0pt;}
header, header>h2 {margin-top: 0;}

body {display: flex; flex-direction: column;}
#main {flex: 1;}

#sidebar .title {display: none;}

#main, #sidebar {
    padding: 0.5em;
    padding-top: max(0.5em, env(safe-area-inset-top));
    padding-bottom: max(0.5em, env(safe-area-inset-bottom));
}
#sidebar {padding-left: max(0.5em, env(safe-area-inset-left));}
#main {padding-right: max(0.5em, env(safe-area-inset-right));}

/* Misc styles used on various pages */
.inset-left {margin-left: 1em;}
.margin-top-0 {margin-top: 0;}
.margin-bottom-0 {margin-bottom: 0;}
.huge {font-size: 12em;}

@media screen and (min-width:30.001em) {
    #sidebar .title {display: block;}
    #main .title {display: none;}
    body {flex-direction: row;}
    #sidebar {order: -1; display: flex; flex-direction: column;}
    #sidebar-main {flex: 1;}
}
