---
title: Blog
---

<p>
    <a href="/feed.xml">Atom feed</a>
{% if paginator.previous_page %}
    | <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}#bottom">&uarr; Newer Posts</a>
{% endif %}
</p>
   
{% for post in paginator.posts %}
    <section>
        <h2 class="post-title"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <small>{{ post.date | date: "%B %-d, %Y" }}</small>
        <p>
            {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
            <br>
            <a href="{{ post.url | prepend: site.baseurl }}">Full post</a>
        </p>
    </section>
{% endfor %}

{% if paginator.previous_page %}
    <p><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}#bottom">&uarr; Newer Posts</a></p>
{% endif %}
    
{% if paginator.next_page %}
    <p><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">&darr; Older Posts</a></p>
{% endif %}
<a id="bottom"></a>
