<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <style>
            html, body {width: 100%; height: 100%; margin: 0px; border: 0px; padding: 0px;}
            html {background-color: green; color: white;}
            a {color: green; text-decoration: none;}
            .secondary {background-color: black; color: white;}
            .sidebar {float: left; min-width: 15%;}
            .footer {font-size: 9px; align: center;}
        </style>
    </head>
    <body>
        <div>
            <div class="secondary sidebar">
                <a href="/">Home</a>
            </div>
            <div>
                {{ content }}
            </div>
        </div>
        <div class="secondary footer">
            Copyright 2015 <a href=https://github.com/JBYoshi>JBYoshi</a>
        </div>
    </body>
</html>
