<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <style>
            html, body, .wrap, .wrap>tbody {width: 100%; height: 100%; margin: 0px; border: 0px; padding: 0px;}
            html {background-color: green; color: white;}
            table.wrap {border-collapse: collapse;}
            a {color: green; text-decoration: none;}
            .secondary {background-color: black; color: white;}
            .footer {font-size: 9; align: center;}
        </style>
    </head>
    <body>
        <table border=0 class=wrap>
            <colgroup>
                <col>
                <col width=*>
            </colgroup>
            <tbody>
                <tr height=*>
                    <td valign=top class=secondary>
                        <!-- Sidebar -->
                        <a href="/">Home</a>
                    </td>
                    <td valign=top>{{ content }}</td>
                </tr>
                <tr class="secondary footer">
                    <td colspan=2>Copyright 2015 <a href=https://github.com/JBYoshi>JBYoshi</a></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
